src/workflows/gmail-triage.json
{
  "name": "Gmail Triage Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "q": "is:unread -label:Bills & Invoices -label:Bank Alerts"
        }
      },
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subject }}",
              "operation": "contains",
              "value2": "bill"
            },
            {
              "value1": "={{ $json.subject }}",
              "operation": "contains",
              "value2": "invoice"
            },
            {
              "value1": "={{ $json.subject }}",
              "operation": "contains",
              "value2": "payment"
            }
          ]
        }
      },
      "name": "Is Bill?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.id }}",
        "addLabelIds": ["Label_147"]
      },
      "name": "Label as Bill",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.id }}",
        "removeLabelIds": ["UNREAD"]
      },
      "name": "Archive Others",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Is Bill?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bill?": {
      "main": [
        [
          {
            "node": "Label as Bill",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Others",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
