src/workflows/magento-place-order.json
{
  "name": "Magento - Place Order",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "magento/place-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.5,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body) throw new Error('Missing request body');\nreturn [{ json: { data: JSON.stringify(body) } }];"
      },
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "command": "node scripts/magento-place-order.mjs --data '{{ $json.data }}'"
      },
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst stdout = result.stdout || '';\nconst stderr = result.stderr || '';\n\nif (stderr) console.error('Script stderr:', stderr);\n\nlet orderNumber = '';\nlet pdfPath = '';\n\ntry {\n  const parsed = JSON.parse(stdout);\n  orderNumber = parsed.orderNumber || '';\n  pdfPath = parsed.pdfPath || '';\n} catch {\n  const orderMatch = stdout.match(/orderNumber[=:]\\s*(\\S+)/);\n  if (orderMatch) orderNumber = orderMatch[1];\n  const pdfMatch = stdout.match(/pdfPath[=:]\\s*(\\S+)/);\n  if (pdfMatch) pdfPath = pdfMatch[1];\n}\n\nreturn [{ json: { orderNumber, pdfPath, raw: stdout } }];"
      },
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Execute Command", "type": "main", "index": 0 }]]
    },
    "Execute Command": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    },
    "Parse Result": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "id": "magento-place-order-001",
  "tags": ["magento"]
}
